body {
  background-color: #F5F6FA;
  font-family: Arial, sans-serif;
}

.comment, .reply {
  border: 1px solid #E4E4E4;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.vote-controls {
  align-items: center;
  background-color: #ecedee;
 

  /*button {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    padding: 0;
    color: #5357B6;
  }*/

}
.ligne-verticale {
  width: 2px; /* Épaisseur de la ligne */
  height: 280px; /* Hauteur de la ligne */
  background-color: #c2c0c0; /* Couleur de la ligne */
  margin: 0 20px; /* Marges à gauche et à droite */
}
